<!-- ..........navbar..................... -->
<div class="nav">
    <div class="logo">
        <img src="../../../assets/images/logo.png" alt="logo">
    </div>
    <div class="block">
        <a href="">Home</a>
        <a href="https://moringaschool.com/about-us/">About us</a>
        <a href="">Projects</a>
        <a id="log" routerLink="/login">Login</a>

    </div>
</div>
<body>
<div class="container">
    <!--user profile here-->
   <div class="userdetails">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="text-center mt-3" >
                <img  class="rounded-circle profile-img" src="assets/images/naomi (1).jpg" alt="profile-image" width="60%">
                <h3 class="mt-4 h-font-semibold" >Naomi Trinity</h3>
                <p class="p-description">naomitrinity@moringaschool.com</p>
            </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-0"></div>
            <div class="col-lg-5 col-md-5 col-sm-12 mt-3">
                <h4 class="h-font-semibold">BIO</h4>
                <p class="p-description">Any fool can write code that a computer can understand. Good programmers write code that humans can understand</p>
                <a href="" routerLink="/update-profile" ><button class="btn  btn-orange">Update Profile</button></a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-0"></div>
        </div>
   </div>
        <!-- User projects here-->
        <div class="userprojects mt-3">
            <div class="row">
                <!--loop card start-->
                <div class="col-lg-3 col-md-3 col-sm-12 mt-3">
                    <div class="uploaded-project">
                        <img src="assets/images/project1.png" alt="projectscreenshot" width="100%">
                        <a href=""><h5 class="text-center project-name">Moringa Project Tracking</h5></a>
                    </div>
                </div>
                <!--loop card end-->
                <!--place holders start (delete them)-->
                <div class="col-lg-3 col-md-3 col-sm-12 mt-3"><div class="uploaded-project">
                    <img src="assets/images/project1.png" alt="projectscreenshot" width="100%">
                    <h5 class="text-center project-name">Moringa </h5>
                </div></div>
                <div class="col-lg-3 col-md-3 col-sm-12 mt-3"><div class="uploaded-project">
                    <img src="assets/images/project1.png" alt="projectscreenshot" width="100%">
                    <h5 class="text-center project-name">Project Tracking</h5>
                </div></div>
                <div class="col-lg-3 col-md-3 col-sm-12 mt-3"><div class="uploaded-project">
                    <img src="assets/images/project1.png" alt="projectscreenshot" width="100%">
                    <h5 class="text-center project-name">Project Tracking</h5>
                </div></div>
               
                <!--place holders end (delete them)-->
            </div>
        </div>



</div>

</body>