body{
    height: 100vh;
    background-color: #D9D9D9;
    padding-top: 4vh;
}
.userdetails{
    background-color: white;
}
.h-font-semibold{
    color: #111F3C;
    font-family: 'Montserrat', sans-serif;
}
.p-description{
    color: #111F3C;
}