<!-- ..........navbar..................... -->
<div class="nav">
    <div class="logo">
        <img src="../../assets/logo.png" alt="logo">
    </div>
    <div class="block">
        <a href="">Home</a>
        <a href="https://moringaschool.com/about-us/">About us</a>
        <a routerLink="/project">Projects</a>
        <a id="log" routerLink="/login">Login</a>

    </div>
</div>
<!-- ............background image....... -->
<body>
  <div class="container">
    <div class="title">
      <h1>Track your Moringa Projects</h1>
      <p>Keep Track of all your projects as a student at moringa school. <br> Access previous projects by Moringa alumnis  </p>
       <a href="">ADD & VIEW AVAILABLE PROJECTS</a>
    </div>  
  </div>
</body>

<!-- ..................cards............ -->

<section id="small">
  <div class="floating-cards">
      <!-- one -->
      <div>
        <span class="iconify" data-icon="carbon:add-alt" style="color: #fa521c;"></span>
        <h5>Add</h5>
        <p>Add your projects to the  <br> Tracker Website  Track of all the work you have accomplished. </p>
      </div>

      <!-- two -->
      <div>
        <span class="iconify" data-icon="fa:search" style="color: #fa521c;"></span>
        <h5>View</h5>
        <p>View yours,cohort mates and alumnis projects added to the site   . </p>
      </div>

      <!-- three -->
      <div>
        <span class="iconify" data-icon="carbon:collaborate" style="color: #fa521c;"></span>
        <h5>Collaborate</h5>
        <p> collaborate on projects  <br> both with your cohort mates or alumnis . </p>
      </div>
  </div>
</section>
<!-- ..................................Featured projects................ -->
<div class="projects">
  <h6>Featured Projects</h6> <hr>
</div>