
/* .....................navbar.................................... */
.logo img{
    width: 12vw;
    margin-left: -10vw;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
}
.nav{
    display: flex;
    justify-content: space-around;
}
.block a{
    text-decoration: none;
    color: black;
    padding: 2vw;
}
.block{
    margin-top: 1vw;
    font-size: 1vw;
}
/* ...............................media queries........................ */
@media screen and (max-width: 450px) {
    .logo img{
        width: 15vw;
        margin-left: -10vw;
        margin-top: 0.2vw;
        margin-bottom: 0.2vw;
    }
    .nav{
        display: flex;
        justify-content: space-around;
    }
    .block a{
        text-decoration: none;
        color: black;
        padding: 2vw;
    
    }
    .block{
        margin-top: 1vw;
        font-size: 2.3vw;
    }
}
/* ......................background image section................ */
.container{
    
    padding-top: 9vw;
    margin-top: 0.8vw;
    width: 100%;
}
body{
    background-image: linear-gradient(
        90deg,
        rgba(17,31,60,0.4),

        rgba(17,31,60,0.3)
    ),
    url("../../assets/images/back2.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    height:42vw ;
    color: white;
}
.container h1{
    padding-bottom: 2.3vw;
    font-weight: 700;
    font-size: 2.3vw;
    line-height: 0.4vw;
}
.container p {
    margin-bottom: 2vw;
    font-size: 1.2vw;
    line-height:2.3vw ;
}
.title a{
    text-decoration: none;
    color: white;
    background-color: #fa521c;
    padding: 0.7vw;
    border-radius: 0.5vw;
    font-weight: 500;
}
/* ...................mediaqueries........................... */
@media screen and (max-width: 450px) {
    .container{
        background-image: linear-gradient(
            90deg,
            rgba(17,31,60,0.4),
    
            rgba(17,31,60,0.3)
        ),
        url("../../assets/images/back2.jpg");
    
        background-repeat: no-repeat;
        background-size: cover;
        height:42vw ;
        width: 100%;
    }
    .container{
        color: white;
        padding-top: 7vw;
        padding-left: 7vw;
      
    }
    .container h1{
        padding-bottom: 3vw;
        font-weight: 700;
        /* line-height: 0.4vw; */
        font-size:3vw ;
    }
    .container p {
        margin-bottom: 2vw;
        font-size: 2.5vw;
        /* line-height:2.3vw ; */
    }
    .title a{
        text-decoration: none;
        color: white;
        background-color: #fa521c;
        padding: 0.7vw;
        border-radius: 0.5vw;
        font-weight: 500;
        font-size: 2vw;
    }  
}
/* .......cards............................... */

#small {
    padding: 5% 15%;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
    color: #0f1f48;

}
@media screen and (max-width: 500px) {
    #small {
        padding: 5%;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fafafa;
        
    }
   .floating-cards .iconify{
        font-size: 4vw;
    }

}
@media screen and (min-width: 501px) and (max-width: 768px) {
    #small {
        padding: 0 10%;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fafafa;
    }
    .iconify{
        font-size: 4vw;
    }
}
.iconify{
    font-size: 2vw;
}
#small .floating-cards {
    position: relative;
    margin-top: -15%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 500px) {
    #small .floating-cards {
        position: relative;
        margin-top: 3vw;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
    #small .floating-cards {
        position: relative;
        margin-top: -30%;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .iconify{
        font-size: 4vw;
    }
}

#small .floating-cards div {
    cursor: pointer;
    width: 30%;
    padding: 3%;
    background-color: #fff;
    transition: 0.3s ease;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 500px) {
    #small .floating-cards div {
        cursor: pointer;
        width: 80%;
        padding: 10%;
        margin: 5% 0;
        background-color: #fff;
        transition: 0.3s ease;
        box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
    }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
    #small .floating-cards div {
        cursor: pointer;
        width: 80%;
        padding: 10%;
        margin: 5% 0;
        background-color: #fff;
        transition: 0.3s ease;
        box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
    }
}

#small .floating-cards div:hover {
    color: #fff;
    background-color: #0e173d;
}


#small .floating-cards div h3 {
    text-transform: capitalize;
    font-size: 1.2vw;
    padding: 5% 0;
    color: #252b42;
}
@media screen and (max-width: 500px) {
    #small .floating-cards div h3 {
        text-transform: capitalize;
        font-size: 2vw;
        padding: 5% 0;
        color: #252b42;
    }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
    #small .floating-cards div h3 {
        text-transform: capitalize;
        font-size: 3.5vw;
        padding: 5% 0;
        color: #252b42;
    }
}

#small .floating-cards div p {
    color: #6f6f6f;
    font-weight: 500;
    letter-spacing: 0.05vw;
    font-size: 0.9vw;
}
@media screen and (max-width: 500px) {
    #small .floating-cards div p {
        color: #6f6f6f;
        font-weight: 500;
        letter-spacing: 0.05vw;
        font-size: 3.7vw;
    }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
    #small .floating-cards div p {
        color: #6f6f6f;
        font-weight: 500;
        letter-spacing: 0.05vw;
        font-size: 2.7vw;
    }
}


/* .........Featured projects............ */
.projects{
    width: 100%;
    height: 40vw;
}
.projects h6{
    color: #0f1f48;
    margin-left: 18vw;
    margin-top: 3vw;
    font-weight: 600;
    font-size: 2vw;
}
hr{
    height: 0.2vw;
    width: 10vw;
    color: #0e173d;
    background-color: #0e173d;
    margin-top: -1vw;
    margin-right: 52vw;
    
}


/* ............................... */
.numbers{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20vw;
    background-color: #e1e1e1;
    margin-bottom: 2vw;
}
.number1{
    margin-top: 6vw;
    
}
.number1 p{
    font-size: 2vw;
    
}
.number1 h6{
    font-size: 3vw;
    text-align: center;
}
#num{
    color: #fa521c;
    font-weight: 400;
}
#num1{
    color: #0e173d;
    font-weight: 500;
}
@media screen and (max-width: 500px) {
    .projects{
        width: 100%;
        height: 70vw;
        margin-bottom: 3vw;
    }
    /* ....................... */
    .numbers{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 110vw;
        background-color: #e1e1e1;
        margin-bottom: 2vw;
        padding-top: 4vw;
        padding-bottom: 4vw;
    }
    .number1{
        margin-top: 8vw;
        font-size: 3.5vw;
        
    }
    .number1 h6{
        font-size: 4.5vw;
        text-align: center;
    }
    .number1 p{
        font-size: 3vw;
        text-align: center;
    }
    #num{
        color: #fa521c;
        font-weight: 500;
        
    }
    #num1{
        color: #0e173d;
        font-weight: 500;
    }
}
/* ........................... */
.slide{
    display: flex;
    padding-left: 5vw;
    margin-top: 3vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
    margin-bottom: 3vw;
}
.slide img{
    width: 20vw;
    border-radius: 50%;
    height: 19vw;
}
.text{
    width: 60%;
    background-color: #0e173d;
    border-radius: 2vw;
    padding: 2vw;
    margin-left: 5vw;
    color: white;
    margin-right: 2vw;
    font-size: 1.2vw;
}
.text h6{
    color: #fa521c;
}
@media screen and (max-width: 500px) {
    .slide{
        display: flex;
        flex-direction: column;
        padding-top: 2vw;
        margin-top: 10vw;
        padding-bottom: 2vw;
        margin-bottom: 3vw;
        
    }
    .slide img{
        width: 30vw;
        border-radius: 50%;
        height: 29vw;
        margin-left: 25vw;
    }
    .text{
        width: 90%;
        background-color: #0e173d;
        border-radius: 2vw;
        padding: 2vw;
        margin-left: 2vw;
        color: white;
        margin-right: 2vw;
        font-size: 3.5vw;
    }
    .text h6{
        color: #fa521c;
    }
    .text h5{
        font-size: 3.5vw;
    }
}
/* ....................... */
.footer{
    display: flex;
    justify-content: space-around;
    padding-left: 3vw;
    padding-top: 7vw;
    background-color: #0e173d;
    color: white;
    font-size: 1.1vw;
    margin-top: 2vw;
    padding-bottom: 5vw;
}

.media a{
    text-decoration: none;
    color: white;
    padding: 1vw;
}
.map{
    width: 30%;
}
iframe{
    width: 100%;
    height: 20vw;
    margin-left: 3vw;
}
.footer .iconify{
    font-size: 1vw;
}
#logo img{
   margin-left: 1vw;
   
}
#logo{
    width: 10%;
}
.media .iconify{
    font-size: 1.3vw;
   
}

@media screen and (max-width: 500px) {
    .footer{
        display: flex;
        flex-direction: column;
        padding-left: 3vw;
        padding-top: 7vw;
        background-color: #0e173d;
        color: white;
        font-size: 1.1vw;
        margin-top: 2vw;
        padding-bottom: 5vw;
    }
    
    .media a{
        text-decoration: none;
        color: white;
        padding: 1vw;
        
    }
    .map{
        width: 60%;
        margin-left: 9vw;
    }
    iframe{
        width: 100%;
        height: 40vw;
        margin-left: 5vw;
        margin-top: 3vw;
    }
    .footer .iconify{
        font-size: 4vw;
    }
   #logo{
       margin-left: 15vw;
       width: 100%;
    }
   #logo img{
    width: 50%;
    margin-bottom: 3vw;
   }
    .links .iconify{
        font-size: 2vw;
    }
    .media .iconify{
        font-size: 2vw;
        padding: 0%;
    }
    .links p{
        font-size: 3vw;
        width: 100%;
        margin-top: 3vw;
        margin-bottom: 3vw;
        padding-left: 2vw;
    }
    .links{
        margin-left: 7vw;
        width: 100%;
    }
}
/* ....................... */
