<!-- ..........navbar..................... -->
<div class="nav">
    <div class="logo">
        <img src="../../assets/logo.png" alt="logo">
    </div>
    <div class="block">
        <a href="">Home</a>
        <a href="https://moringaschool.com/about-us/">About us</a>
        <a href="">Projects</a>
        <a id="log" href="">Login</a>

    </div>
</div>
<!-- ............background image....... -->
<div class="container">
  <div class="title">
    <h1>Track your Moringa Projects</h1>
    <p>Keep Track of all your projects as a student at moringa school. <br> Access previous projects by Moringa alumnis  </p>
     <a href="">ADD & VIEW AVAILABLE PROJECTS</a>
  </div>  
</div>