<!-- ..........navbar..................... -->
<div class="nav">
    <div class="logo">
        <img src="../../assets/logo.png" alt="logo">
    </div>
    <div class="block">
        <a href="">Home</a>
        <a href="https://moringaschool.com/about-us/">About us</a>
        <a href="">Projects</a>
        <a id="log" routerLink="/login">Login</a>

    </div>
</div>
<!-- ............background image....... -->
<div class="container">
  <div class="title">
    <h1>Track your Moringa Projects</h1>
    <p>Keep Track of all your projects as a student at moringa school. <br> Access previous projects by Moringa alumnis  </p>
     <a href="">ADD & VIEW AVAILABLE PROJECTS</a>
  </div>  
</div>
<!-- ..................cards............ -->
<div class="cards">
    <div class="card">
      <span class="iconify" data-icon="carbon:add-alt" style="color: #fa521c;"></span>
      <h5>Add</h5>
      <p>Add your projects to the project <br> Tracker Website to allow you keep <br> Track of all the work you have accomplished. </p>
    </div>
    <div class="card">
      <span class="iconify" data-icon="fa:search" style="color: #fa521c;"></span>
      <h5>View</h5>
      <p>View your added projects <br> Your cohort mates projects added to the site   Access projects by Moringa alumnis . </p>
    </div>
    <div class="card">
      <span class="iconify" data-icon="carbon:collaborate" style="color: #fa521c;"></span>
      <h5>Collaborate</h5>
      <p> collaborate on projects  <br> both with your cohort mates or alumnis . </p>
    </div>
</div>
<!-- ..................................Featured projects................ -->
<div class="projects">
  <h3>Featured Projects</h3>
  <hr>
  <div class="project">
    <div id="card">
      <img src="../../assets/awards.png" alt="">
      <h6>Awaards</h6>
      <p>Created by :Ajedidah Mwanzia </p>
      <a href="https://jaywards.herokuapp.com/">View</a>
      <p>This project allows users to post their projects for other users to rate according to design, usability and content</p>
    </div>
  </div>
</div>