<!-- ..........navbar..................... -->
<div class="nav">
    <div class="logo">
        <img src="../../assets/images/logo.png" alt="logo">
    </div>
    <div class="block">
        <a href="">Home</a>
        <a href="https://moringaschool.com/about-us/">About us</a>
        <a href="">Projects</a>
        <a id="log" routerLink="/login">Login</a>

    </div>
</div>
<body>
    <div class="container">
        <div class="project">
         <h5>Recently Added Projects</h5><hr>
        </div>
        <div id="aboutus">
            <ul *ngFor="let project of project">
                <img src="{{image_url+project.project_image}}" />      
                
                <li>{{project.name}}</li>
                <li>{{project.description}}</li>
                <li>{{project.url}}</li>
            </ul>
        </div>
    </div>
</body>
