
/* .....................navbar.................................... */
.logo img{
    width: 12vw;
    margin-left: -10vw;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
}
.nav{
    display: flex;
    justify-content: space-around;
}
.block a{
    text-decoration: none;
    color: black;
    padding: 2vw;
}
.block{
    margin-top: 1vw;
    font-size: 1.2vw;
}
/* ...............................media queries........................ */
@media screen and (max-width: 450px) {
    .logo img{
        width: 15vw;
        margin-left: -10vw;
        margin-top: 0.2vw;
        margin-bottom: 0.2vw;
    }
    .nav{
        display: flex;
        justify-content: space-around;
    }
    .block a{
        text-decoration: none;
        color: black;
        padding: 2vw;
    
    }
    .block{
        margin-top: 1vw;
        font-size: 2.3vw;
    }
}