body{
    height: 52.5vw;
    background-color:#111F3C;
}
.login-details{
    /* background-color: white; */
    padding: 40px;
    margin-top: 20vh;
    margin-bottom: 20vh;
    border-radius: 5%;
}
.btn-orange{
    background-color: #FB6F36;
    color: #ffff;
}
.h-font-semibold{
    color:#111F3C ;
    font-family: 'Montserrat', sans-serif;
}
form{
    height: 35vw;
    width: 26vw;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    margin-top: 6vw;
    left: 50%;
    border-radius: 1vw;
    backdrop-filter: blur(0.7vw);
    border: 0.2vw solid rgba(255,255,255,0.1);
    box-shadow: 0 0 4vw rgba(8,7,16,0.6);
    padding: 6vw 3.5vw;
}

form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.2vw;
    outline: none;
    border: none;
}
form h4{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
.social{
    margin-top: 30px;
    display: flex;
  }
  .social div{
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255,255,255,0.27);
    color: #eaf0fb;
    text-align: center;
  }
  .social div:hover{
    background-color: rgba(255,255,255,0.47);
  }
  .social .fb{
    margin-left: 25px;
  }
  .social i{
    margin-right: 4px;
  }
  